*.avi
*.jpg

*.swp
HandTracking/data
__pycache__
HandTracking/__pycache__
HandTracking/box_checkpoints
HandTracking/abox_checkpoints/
HandTracking/box_checkpoints02062018_adam/
HandTracking/mbox_checkpoints/
HandTracking/mdecbox_checkpoints/
